<nav class="header-navbar hero-container">
  <a href="/" class="logo">
    <img width="37px" height="37px" src="{{ 'logo-tennis-ball.svg' | asset_url }}">
  </a>
  {% render 'main-nav' %}
  <div>
    <a href="#">Es</a>
    <a href="#">En</a>
  </div>
</nav>

{% schema %}
{
  "name": "navbar",
  "settings": [],
  "presets": []
}
{% endschema %}
