<section class="hero-section">
  <h1 class="heading-3xl">
    <span>Las mejores raquetas para jugar</span>
    <span class="text-sickly-yellow">Tennis</span>
  </h1>
  <a href="/about-us" class="btn btn-white">
    <span>Acerca de nosotros</span>
  </a>
</section>
