<section class="more-info">
  <div class="content">
    <h2 class="heading-2xl text-dark">
      <span>Raquetas.</span>
      <span>Accesorios.</span>
      <span>Pelotas.</span>
    </h2>
    <p class="text-warm-grey">Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.</p>
  </div>
  <a href="/history" class="btn btn-dark-three">historia</a>
</section>
