:root {
  --sickly-yellow: #cbe346;
  --white-two: #d8d8d8;
  --dark-two: #2b3049;
  --dark: #1e2335;
  --pale-grey: #f3f4f8;
  --warm-grey: #787878;
  --white: #fff;
  --dark-three: #282e47;
}

@font-face {
  font-family: HelveticaNeue;
  src: local(HelveticaNeue),
    url(/path/to/HelveticaNeue.woff2) format("woff2"),
    url(/path/to/HelveticaNeue.woff) format("woff"),
    url(/path/to/HelveticaNeue.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: HelveticaNeue;
  src: local(HelveticaNeue-Bold),
    url(/path/to/HelveticaNeue-Bold.woff2) format("woff2"),
    url(/path/to/HelveticaNeue-Bold.woff) format("woff"),
    url(/path/to/HelveticaNeue-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Utility classes */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.heading-3xl {
  font-family: HelveticaNeue;
  font-size: 3.375rem;
  font-weight: normal;
  line-height: 1.28;
  letter-spacing: -0.003rem;
  color: var(--white);
}

.heading-2xl {
  font-size: 3.125rem;
  font-weight: normal;
  letter-spacing: -0.06px;
}

.text-lg-normal {
  font-family: HelveticaNeue;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.78;
  letter-spacing: 0.03rem;
  color: var(--warm-grey);
}

.text-sm-bold {
  font-family: HelveticaNeue;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 2.15;
  letter-spacing: 0.0625rem;
  color: var(--white);
}

.text-sickly-yellow {
  color: var(--sickly-yellow);
}

.text-warm-grey {
  color: var(--warm-grey);
}

.text-dark {
  color: var(--dark);
}

.text-white {
  color: var(--white);
}

.btn {
  display: block;
  padding: 1rem 2.5rem 1rem 1.875rem;
  border-radius: 100vw;
  border: solid 1px var(--_btn-clr);
  color: var(--_btn-clr);
  width: max-content;
  min-width: 14.625rem;
  text-transform: uppercase;
  display: flex;
  gap: 0.375rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.btn::before {
  --_overlay-color: hsl(from var(--_btn-clr) h s l / 0.1);
  content: '';
  display: block;
  position: absolute;
  background-color: var(--_overlay-color);
  border-radius: 100vw;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}

.btn:hover::before {
  transform: translateX(0);
}

.arrow-container {
  display: grid;
  place-content: center;
}

.btn-white {
  --_btn-clr: var(--white);
}

.btn-dark-three {
  --_btn-clr: var(--dark-three);
}

/* Main Navigation */
.navigation-links ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navigation-links a {
  transition: color 250ms ease-in-out;
}

.navigation-links a:hover {
  color: var(--white-two);
}

.header-navbar .logo {
  position: absolute;
  display: block;
  top: 25px;
  transform: translateX(-137px);
}

.navigation-links a.active-page {
  font-weight: bold;
}

/* Navbar */
.hero-container {
  --_logo-size: 37px;
  --_min-padding: 100px;
  max-width: 1200px;
  margin-inline: auto;
  padding-left: calc(var(--_min-padding) + var(--_logo-size) * 2);
  padding-right: var(--_min-padding);
}

.header-navbar.hero-container {
  left: 50%;
  transform: translateX(-50%);
}

.hero-section {
  position: relative;
}

.hero-container h1::before {
  content: '';
  width: 1px;
  background-color: var(--white);
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateX(-67px);
}

.header-navbar {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 10;
  padding-top: 2.75rem;
}

.header-navbar a.active-page {
  position: relative;
}

.header-navbar a.active-page::before {
  content: '';
  background-color: var(--white);
  width: 1rem;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -12px;
}

/* Hero Section */
.hero-section {
  padding-block: 17.25rem;
  background-image: url('hero-img@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

h1 {
  max-width: 44rem;
  text-wrap: pretty;
}

h1 .text-sickly-yellow {
  font-weight: bold;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

/* More Info */
.more-info {
  background-color: var(--pale-grey);
  padding-block: 4.5rem 4.2rem;
}

.more-info-container {
  max-width: 1100px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.more-info .content {
  display: grid;
  gap: 4rem;
  margin-left: 318px;
}

.more-info h2 {
  position: relative;
  max-width: 35rem;
  line-height: 1.14;
}

.more-info h2::before {
  content: 'tennis';
  text-transform: uppercase;
  color: var(--sickly-yellow);
  display: block;
  position: absolute;
  top: 30px;
  font-size: 1rem;
  transform: translateX(calc(-100% - 51px));
}

.more-info p {
  max-width: 24.5rem;
}

/* Featured Products */
.featured-projects {
  display: flex;
  font-size: 1.125rem;
}

.featured-projects .description {
  background-image: url('./ball-color-court-1405355@3x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  flex-basis: 530px;
  flex-shrink: 0;
  padding: 68px 60px;
  display: flex;
  justify-content: flex-end;
}

.featured-projects .content {
  max-width: 20.5rem;
}

.featured-projects .content h2 {
  line-height: 1.28;
}

.featured-projects .content p {
  margin-top: 0.5rem;
  line-height: 1.6;
}

.featured-projects .carousel-indicators-container,
.featured-projects .carousel-controls-container {
  margin-top: 2rem;
}

.carousel-controls-container {
  display: flex;
  gap: 19px;
}

.carousel-control {
  display: grid;
  place-content: center;
  width: 54px;
  height: 54px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.carousel-control.carousel-control-active {
  background-color: var(--sickly-yellow);
  border: none;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
}

.carousel-indicators-container {
  display: flex;
  gap: 24px;
}

.carousel-indicator {
  width: 8px;
  aspect-ratio: 1;
  background-color: var(--pale-grey);
  border-radius: 50%;
  border: none;
}

.carousel-indicator.active {
  background-color: var(--sickly-yellow);
}

.featured-projects .products-carousel {
  overflow-x: scroll;
  display: flex;
  align-items: center;
  gap: var(--_gap);
  margin-left: 52px;
}

.product {
  flex-basis: 288px;
  flex-shrink: 0;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.product:last-of-type {
  margin-right: 52px;
}

.product p {
  position: absolute;
  width: 2.5rem;
  aspect-ratio: 1;
  background-color: var(--sickly-yellow);
  color: var(--white);
  border-radius: 50%;
  display: grid;
  place-content: center;
  top: 12px;
  left: 18px;
}

/* Image Block */
.image-block {
  min-height: 586px;
  background-image: url('action-athlete-ball-342361@2x.png');
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
}

/* Footer */
footer {
  background-color: var(--sickly-yellow);
  color: var(--dark-two);
  padding-block: 64px;
  font-size: 0.8125rem;
}

.footer-container {
  max-width: 1512px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem 1rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-media-links ul {
  list-style: none;
  display: flex;
  gap: 12px;
}